// compileCompressed: ../../../public/css/$1.css

@import "../bootstrap/scss/bootstrap.scss";

#header-section {
  .header-left {
    .logo {
      img {
        width: auto;
        height: 80px;
      }
    }
  }
}

.header-mobile {
  .header-logo {
    img {
      max-height: 48px;
    }
  }
}

.footer-bottom {
  .foot-social {
    p {
      a {
        font-size: $h1-font-size;
      }
    }
  }
}

#section-body {
  padding-bottom: 0;
}
